@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Arka plan rengi */
    --background: 0 0% 100%;
    /* Metin rengi (açık temada koyu gri) */
    --foreground: 0 0% 3.9%;

    /* Kart arka planı */
    --card: 0 0% 100%;
    /* Kart metni (koyu gri) */
    --card-foreground: 0 0% 3.9%;

    /* Popover arka planı */
    --popover: 0 0% 100%;
    /* Popover metni (koyu gri) */
    --popover-foreground: 0 0% 3.9%;

    /* Tema birincil rengi */
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    /* Tema ikincil rengi */
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    /* Bastırılmış/metin altı rengi */
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    /* Aksan rengi */
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    /* Yıkıcı/tehlikeli işlemler için renk */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    /* Kenarlık, giriş ve halka renkleri */
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    /* Grafik renkleri */
    --chart-1: 139 65% 20%;
    --chart-2: 140 74% 44%;
    --chart-3: 142 88% 28%;
    --chart-4: 137 55% 15%;
    --chart-5: 141 40% 9%;

    /* Kenar yuvarlaklığı */
    --radius: 0.3rem;

    /* Sidebar renkleri */
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  * {
    @apply font-sans border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}